<p>
	<strong>Title: </strong>
	<%= @book.title %>
</p>
<p>
	<strong>Author: </strong>
	<%= @book.author %>
</p>
<p>
	<strong>ISBN: </strong>
	<%= @book.isbn %>
</p>
<p>
	<strong>Copies: </strong>
	<%= @book.copies %>
</p>
<%= link_to 'Back', search_res_results_path(:search_type_t => @search_type_t, :search_type_i => @search_type_i, :search_type_a => @search_type_a, :search => @search) 
%>
<%= #link_to 'Back', books_path 
%>
